@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --dark-color: #333;
}

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background-color: var(--dark-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
    flex-grow: 1;
}